{% extends "base.html" %}
{% block body %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Book Name</th>
        <th scope="col">Auther</th>
        <th scope="col">ISBN</th>
        <th scope="col">available book</th>
        <th scope="col">Borrew</th>
      </tr>
    </thead>
    <tbody>
      {% for i in book  %}
        
      <tr>
        <th scope="row">{{i.title}}</th>
        <td>{{i.author}} </td>
        <td>{{i.ISBN}} </td>
        <td>{{i.available_book}} </td>
        <td> <a href=" {% url 'borrow_book' id=i.ISBN %}" class=" btn btn-primary"> 
          {% if i.available_book %}
          Borrow
          {% else %}
          Request
          {% endif %}
      
          </a> </td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
{% endblock body %}